js/
css/
html/
exercicio.py
python/formataStrings.py
python/inicio.py
python/input.py
python/operadore.py
js/funcao.js/
js/objetos.js
js/valoresPrimitivo.js
python/exercicio1.py
python/operadoreslogicos.py
js/compara.js